body {
  margin: 0;
  font-family: 'Lato', 'Open Sans', 'Helvetica Neue', sans-serif;
}
h1 {
  font-size: 50px;
}
h2 {
  font-size: 40px;
}
p {
  color: dimgray;
}
.red-highlight {
  color: deeppink;
  font-weight: 900;
}
section {
  height: 650px;
  margin-bottom: 50px;
}
.link-button {
  text-decoration: none;
  background-image: linear-gradient(45deg, rgb(224, 131, 181), deeppink);
  padding: 10px 20px;
  border-radius: 5px;
  color: white;
  font-weight: 900;
}
.link-button:hover {
  width: 80px;
  height: 70px;
  font-size: 20px;
}

.top-section {
  background-image: url('./images/header-bg.png');
  background-repeat: no-repeat;
  background-size: cover;
}

.top {
  float: left;
  width: 40%;
  margin-left: 5%;
  padding-left: 2%;
}
.top img {
  width: 100%;
}
.top p {
  width: 80%;
  text-align: justify;
}

.biography-section {
  background-image: url('./images/biography-bg.png');
  background-repeat: no-repeat;
  background-size: cover;
}
.biography {
  float: left;
  width: 40%;
  margin-left: 5%;
  padding: 50px 10px;
}

.biography p {
  width: 80%;
  text-align: justify;
}

.biography img {
  width: 70%;
  margin-left: 15%;
}

.biography-contant {
  float: right;
  width: 40%;
  margin: 100px 10px 10px 100px;
  padding: 100px 10px;
}

.mywork-section {
  background-image: url('./images/latest-work-bg.png');
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  padding-top: 40px;
}

.mywork-img {
  float: left;
  width: 30%;
  padding-top: 20px;
}

.mywork-img img {
  width: 90%;
}
.mywork-section .first {
  margin-left: 5%;
}
.mywork-section .last {
  margin-right: 5%;
}

.end-section {
  text-align: center;
  background-image: url('./images/footer-bg.png');
  background-repeat: no-repeat;
  background-size: cover;
}
.end-section h2,
.end-section p,
.end-section h4:nth-child(2n + 1) {
  padding-bottom: 40px;
}

.end-para {
  font-size: 800;
}

.end-button {
  display: inline-block;
  text-decoration: none;
  background-image: linear-gradient(45deg, rgb(224, 131, 181), deeppink);
  padding: 10px 20px;
  border-radius: 5px;
  color: white;
  width: 550px;
  height: 90px;
  padding-top: 50px;
}

.email {
  font-size: 30px;
  font-weight: 800;
}

.footer {
  text-align: center;
  color: dimgray;
  margin-bottom: 10px;
}
